tensorrt
colored
cuda-python
diffusers>0.7.2
ftfy
matplotlib
nvtx
onnx==1.12.0
--extra-index-url https://pypi.ngc.nvidia.com
tensorrt
onnx-graphsurgeon
onnxruntime
polygraphy==0.43.1
scipy
--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.12.0+cu116
transformers>4.24.0

Pillow
numpy<1.20
pycuda<2021.1
pytest

gunicorn
flask-socketio
